$baseClass: "circular-steps-component";

.circular-steps-component{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    .cls-1 {
        fill: url(#linear-gradient);
      }

      .cls-2, .cls-38, .cls-42, .cls-50, .cls-51 {
        filter: url(#AI_GaussianBlur_4);
      }

      .cls-3 {
        fill: #4e5051;
      }

      .cls-34, .cls-4, .cls-9 {
        filter: url(#AI_GaussianBlur_7);
      }

      .cls-5 {
        fill: #74787a;
      }

      .cls-6 {
        fill: #7f8588;
      }

      .cls-7 {
        opacity: 0.95;
      }

      .cls-8 {
        fill: #8b9297;
      }

      .cls-9 {
        opacity: 0.85;
      }

      .cls-10 {
        fill: #75797b;
      }

      .cls-11 {
        fill: #767a7c;
      }

      .cls-12 {
        fill: #777b7d;
      }

      .cls-13 {
        fill: #787c7f;
      }

      .cls-14 {
        fill: #797d80;
      }

      .cls-15 {
        fill: #797e81;
      }

      .cls-16 {
        fill: #7a7f82;
      }

      .cls-17 {
        fill: #7b8083;
      }

      .cls-18 {
        fill: #7c8184;
      }

      .cls-19 {
        fill: #7d8285;
      }

      .cls-20 {
        fill: #7e8386;
      }

      .cls-21 {
        fill: #7e8487;
      }

      .cls-22 {
        fill: #808689;
      }

      .cls-23 {
        fill: #81878a;
      }

      .cls-24 {
        fill: #82878b;
      }

      .cls-25 {
        fill: #83888c;
      }

      .cls-26 {
        fill: #84898d;
      }

      .cls-27 {
        fill: #848a8f;
      }

      .cls-28 {
        fill: #858b90;
      }

      .cls-29 {
        fill: #868d91;
      }

      .cls-30 {
        fill: #878e92;
      }

      .cls-31 {
        fill: #888f93;
      }

      .cls-32 {
        fill: #899094;
      }

      .cls-33 {
        fill: #8a9196;
      }

      .cls-34 {
        opacity: 0.91;
      }

      .cls-35 {
        fill: #7e8385;
      }

      .cls-36 {
        opacity: 0.9;
      }

      .cls-37 {
        fill: #888e91;
      }

      .cls-38 {
        opacity: 0.56;
      }

      .cls-39 {
        fill: #5c5f61;
      }

      .cls-40 {
        fill: url(#linear-gradient-2);
      }

      .cls-41, .cls-53, .cls-54, .cls-56, .cls-58 {
        isolation: isolate;
      }

      .cls-41 {
        font-size: 33.44px;
        font-family: Seravek;
      }

      .cls-41, .cls-53, .cls-54, .cls-56, .cls-59 {
        fill: #010101;
      }

      .cls-42 {
        opacity: 0.63;
      }

      .cls-43 {
        fill: url(#linear-gradient-3);
      }

      .cls-44 {
        fill: url(#linear-gradient-4);
      }

      .cls-45 {
        fill: url(#linear-gradient-5);
      }

      .cls-46 {
        fill: #fff;
      }

      .cls-47 {
        fill: url(#linear-gradient-6);
      }

      .cls-48 {
        fill: url(#linear-gradient-7);
      }

      .cls-49 {
        fill: url(#linear-gradient-8);
      }

      .cls-50 {
        opacity: 0.4;
      }

      .cls-51 {
        opacity: 0.65;
      }

      .cls-52 {
        fill: #f5f7f5;
      }

      .cls-53 {
        font-size: 9.48px;
      }

      .cls-53, .cls-54, .cls-56, .cls-58 {
        font-family: Arial;
      }

      .cls-54 {
        font-size: 4.86px;
      }

      .cls-55 {
        fill: #020202;
      }

      .cls-56 {
        font-size: 5.47px;
      }

      .cls-57 {
        fill: #41403e;
      }

      .cls-58 {
        font-size: 4.33px;
        fill: #5c5d5d;
      }



    }


